header {
	display: flex;
	flex-direction: column;
	width: 220px;
}

/* logo */

header img {
	object-fit: contain;
	height: 90px;
	margin: 4px;
}

/* nav */

nav {
	align-items: center;
}

nav p {
	position: relative;
}

nav a {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding: 14px 0 12px 42px;
	margin: 20px 10px;
	border-radius: 7px;
	width: 90%;
	text-align: left;
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: #555;
}

nav a:hover {
	color: #000;
}

nav a.active {
	background-color: #ddd;
	color: #000;
}

nav a::before {
	content: "";
	display: inline-block;
	width: 21px;
	height: 21px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 0.3em;
	margin-top: -10px;
	position: absolute;
	top: 23px;
	left: 21px;
	filter: invert(33%) brightness(150%);
}

nav a:hover::before {
	filter: none;
}

nav a.active::before {
	filter: none;
}

nav .btnDashboard::before {
	background-image: url("/img/DashboardIcon.svg");
}

nav .btnEventPlanner::before {
	background-image: url("/img/EventPlannerIcon.svg");
}

nav .btnVendorHub::before {
	background-image: url("/img/VendorHubIcon.svg");
}

nav .btnTaskManager::before {
	background-image: url("/img/TaskManagerIcon.svg");
}
